body {
    margin: 0;
    padding: 0;
    background-image:  url("/static/legally/media/banner1.jpg");
    background-size: cover;
}
.main {
    position:relative;
    margin-bottom:80px;
}

.main .header {
    position:relative;
	width:100%;
	top: 0;
	z-index:5;
	background-color: #153247;
    padding: 10px 10px;
}

.main h1{
	position:relative;
	font-weight:bold;
	background:none;
	line-height:1.2em;
	letter-spacing: -0.02em;
	font-family: 'Rufina', serif;
    color: goldenrod;
    font-size:62px;
    text-align:center;
    padding: 0;
}

.main p {
    position: relative;
    text-align: center;
    color: bisque;
    font-family: 'Open Sans', sans-serif;
    font-size:21px;
    font-weight:300;
    line-height:1.8em;
}

a {
    position:relative;
	display:inline;
	text-align:center;
	font-size:16px;
	line-height:35px;
	font-weight:400;
	text-transform:none;
	font-family: 'Poppins', sans-serif;
	opacity:1;
    margin-right: 50px;
    padding: 10px

}

a:link {
    text-decoration: none;
    color: bisque;
}
a:visited {
    text-decoration: none;
    color: bisque;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
    color: bisque;
}

.title-head {
    background: transparent;
    padding: 70px 30px;
}

.bookform-1 {
    margin-bottom: 20px;
    color: goldenrod;
}

.page-wrapper {
    background: #153247;
    width: 500px;
    height: 700px;
    position: relative;
    left: 32%;
    box-sizing: border-box;
    padding: 70px 30px;
}

.bookform-apt-label {
    display: block;
    font-weight: bold;
    font-size: 30px;
    color: goldenrod;
    margin-bottom: 12px;
}

.bookform-apt-input {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size:16x;
    width: 100%;
    margin-bottom: 20px;

}

.bookform-apt-input:focus {
    border-color: #6a64f1;
}

.bookform-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 12px;
    padding: 14px 32px;
    font-weight: bold;
    background-color: goldenrod;
    color: #153247;
    width: 77%;
    cursor: pointer;
}

.bookform-btn:hover {
    cursor: pointer;
    background:#153247;
    color: goldenrod;
}

.bookform-2{
    margin-left: -12px;
    margin-right: -12px;
}

.bookform-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex{
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}