{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Legal.ly - Services</title>
        <link rel="stylesheet" type="text/css" href="{% static 'legally/services.css' %}">
        <link rel="shortcut icon" href="{% static 'legally/media/icon.png' %}">
        <link rel="icon" href="{% static 'legally/media/icon.png' %}">
    </head>
    <body>
        <div class="page-wrapper" >
            <div class="main">
                <div class="header">
                    <div class="logo">
                        <img src="{% static 'legally/media/1.png' %}" alt="Site Logo">
                    </div>
                    <div class="navbar">
                        <!-- Navigation tab options -->
                            <a href="{% url 'legally-home' %}">Home</a>
                            <a href="{% url 'legally-attorneys' %}">Find An Attorney</a>
                            <a href="{% url 'legally-appointment' %}">Book An Appointment</a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"class="btn btn-outline-info" type="button">Log Out</a>
                        {% else %}
                            <a href="{% url 'login' %}"class="btn btn-outline-info" type="button">Login In</a>
                            <a href="{% url 'register' %}" class="btn-outline-success btn btn-info"  type="button">Register</a>
                        {% endif %}
                    </div>
                </div>
                <div class="title-head">
                    <h1> > SERVICES</h1>
                </div>
            </div>
            <div class="list-container1">
                <div class="logo">
                    <img src="{% static 'legally/media/banner3.jpg' %}">
                </div>
                <div class="list-text">
                    <h1> CRIMINAL LAW </h1>
                    <p>We provide firms that engage in criminal defense and human rights enforcement practice. Maintaining frontline human rights lawyers across the globe that represent clients in enforcement of fundamental rights through civil action.</p>
                    <p>Considering some daunting outcomes of criminal prosecution, which may instantly results into deprivation of liberty or facing heavy fines, it is important for anyone who has been criminally charged to seek a very effective legal help that such person can find, so there can be possibility for better outcome.</p>
                    <div class="btn">
                        <a href="{% url 'legally-attorneys' %}" class="btn btn-outline-info" type="button">Get An Attorney</a>
                    </div>
                </div>
            </div>
            <div class="list-container2">
                <div class="list-text">
                    <h1>FAMILY LAW</h1>
                    <p>Providing firms with expertise in all aspects of Family Law, which includes matrimonial causes; trust administration; administration of estate, divorce proceedings among others.</p>
                    <p>These lawyers appreciate the fact that family issues could be emotional because the issue of personal concerns and infants are being discussed. Therefore, sympathetic and practical environment is provided in which clients can discuss the problems facing them and how the best results can be obtained for them</p>
                    <div class="btn">
                        <a href="{% url 'legally-attorneys' %}" class="btn btn-outline-info" type="button">Get An Attorney</a>
                    </div>
                </div>
                <div class="logo">
                    <img src="{% static 'legally/media/fl.jpg' %}">
                </div>
            </div>
            <div class="list-container1">
                <div class="logo">
                    <img src="{% static 'legally/media/comm.jpg' %}">
                </div>
                <div class="list-text">
                    <h1> CORPORATE & COMMERCIAL LAW </h1>
                    <p>Our Corporate and Commercial Practice Group provides general corporate advisory services to national and international companies, operating in any economy.</p>
                    <p>At the core of these practices is the ability to provide pragmatic and inventive business solutions to clients for the effective implementation of their business goals</p>
                    <p>We offer clients risk assessment and compliance advisory services based on their individual needs and help them to formulate and put in place effective compliance programs.</p>
                    <div class="btn">
                        <a href="{% url 'legally-attorneys' %}" class="btn btn-outline-info" type="button">Get An Attorney</a>
                    </div>
                </div>
            </div>
            <div class="list-container2">
                <div class="list-text">
                    <h1>MARITIME LAW</h1>
                    <p>At Legal.ly we have teams of competent and experience maritime, shipping and transport law experts well-positioned to deliver superb services.</p>
                    <p>Providing maritime and transport -related services to companies, ship-owners, charterers, ship agents, firms and other entities in the Maritime, Shipping and Transport Industries.</p>
                    <p>While acting as legal advisers to local and international clients in respect of vessel acquisition, financing, leasing among other maritime related legal advisory services, these teams also service international operators and investors on legal and regulatory requirements for establishing and operating vessels across the globe.</p>
                    <div class="btn">
                        <a href="{% url 'legally-attorneys' %}" class="btn btn-outline-info" type="button">Get An Attorney</a>
                    </div>
                </div>
                <div class="logo">
                    <img src="{% static 'legally/media/maritime.jpg' %}">
                </div>
            </div>
            <div class="list-container1">
                <div class="logo">
                    <img src="{% static 'legally/media/civil.jpg' %}">
                </div>
                <div class="list-text">
                    <h1> CIVIL LAW </h1>
                    <p>“Civil rights” is a term with different meanings to many people. With all these understandings of civil rights, the most important point to remember is that individuals in this free society possess certain rights and protections guaranteed by the Constitution. </p>
                    <p>Serving areas around the globe from firms in every region of Africa, Legal.ly, can help you find you best match to secure your civil rights.</p>
                    <p>With each team possessing a rich understanding of Constitutional jurisprudence, your rights will not be trampled upon.</p>
                    <div class="btn">
                        <a href="{% url 'legally-attorneys' %}" class="btn btn-outline-info" type="button">Get An Attorney</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>