{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
    <link rel="shortcut icon" href="{% static 'legally/media/icon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'legally/media/icon.png' %}" type="image/x-icon">
    <title>Legal.ly - Logged Out</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <img src="{% static 'legally/media/1.png' %}" alt="site logo">
                </div>
            </div>
            <div class="navbar">
                <!-- Navigation tab options -->
                <a href="{% url 'legally-home' %}">Home</a>
                <a href="{% url 'legally-services' %}">Services</a>
                <a href="{% url 'register' %}" class="btn-outline-success btn btn-info"  type="button">Register</a>
            </div>
        </div>
        <div class="signupbox">
            <h1>You have been logged out!</h1>
            <div class="btn">
                <a href="{% url 'login' %}" class="btn btn-outline-info" type="button">Login Again</a>
            </div>
        </div>
    </div>
</body>
</html>