body {
    margin: 0;
    padding: 0;
    background-image:  url("/static/legally/media/banner2.jpg");
    background-size:cover;
    background-position: center;

}

.main {
    position:relative;
    margin-bottom:80px;
}

.main .header {
    position:relative;
	width:100%;
	top: 0;
	z-index:5;
	background-color: #153247;
    padding: 10px 10px;
}

/* Nav bar */
a {
    position:relative;
	display:inline;
	text-align:center;
	font-size:16px;
	line-height:35px;
	font-weight:400;
	text-transform:none;
	font-family: 'Poppins', sans-serif;
	opacity:1;
    margin-right: 50px;
    padding: 10px;

}

a:link {
    text-decoration: none;
    color: bisque;
}
a:visited {
    text-decoration: none;
    color: bisque;
}
a:hover {
    text-decoration: underline;
    color: blueviolet;
}
a:active {
    text-decoration: none;
    color: bisque;
}

/* Loginbox */
.signupbox {
    background: #153247;
    width: 500px;
    height: 850px;
    position: relative;
    left: 30%;
    box-sizing: border-box;
    top:50%;
    margin-top: 100px;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
}

.signupbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: bisque;
    font-size: 16px;
    margin-top: 10px;
}

.signupbox input {
    width: 100%;
    margin-bottom: 20px;
    background: beige;
}

.signupbox input[type="text"], input[type="password"], input[type="number"], input[type="email"] {
    border: none;
    border-bottom: 1px solid beige;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size:16x ;
    padding: 10px;
}

.signupbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: goldenrod;
    color:#153247;
    font-size: 18px;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.signupbox input[type="submit"]:hover {
    cursor: pointer;
    background: transparent;
    color: goldenrod;
}


.signupbox .btn{
    color: bisque;
    top: 100px;
    padding: 10px;
    width: 40%;
    text-align: center;
    font-size: 20px;
}

